@use '../../../ask' as ask;
// default theme layout
.l-content__section {
  margin: 8em auto;
}

.t-paragraph,
.t-headline1,
.t-headline2,
.t-headline3 {
  margin: 1em 0;
}

.t-paragraph {
  margin: 1em 0 0;
}

.t-headline3 {
  margin: 2em 0 1em;
}

.t-headline2,
.t-headline1 {
  margin: 3em 0 1em;
}

.c-media {
  margin: 1em 0;
}

.t-list {
  padding: 0 0 0 1em;
}

.t-hr {
  margin: 2em 0;
}

