// blog-post
@use "../ask_setting" as ask;

.c-blog {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;

  &__head {
    display: grid;
    grid-template-columns: subgrid;
    width: calc(100vw - 2em);
    grid-column: #{ask.$r_size_space+2} / -1;

    &__hero {
      margin: 1.5lh 0 0 0;
      grid-column: 1 / -1;
      max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * 51);
      overflow: hidden;
    }
    
    &__info {
      margin: 0;
      grid-column: 1 / #{ask.$r_size_space - 6};

      .c-blog__head__hero:empty + & {
        margin: 0
      }
    }

    &__date {
      font-size: var(--t-size_xxxs);
      line-height: 1;
      margin: 0 0 1lh 0;
    }
  }

  &__title {
    margin: 0;
    font-size: var(--t-size_l);
    line-height: var(--t-line-height_l);
    font-weight: var(--t-font-weight-normal);
  }

  &__body {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    margin: 1.5lh 0 0;

    p:empty {
      display: none;
      margin: 0;
    }

    // contents max width
    & > p,
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > ul,
    & > ol,
    & > blockquote,
    & > table,
    & > .footnotes,
    & > .c-media {
      grid-column: #{ask.$r_size_space + 2} / #{ask.$r_size_space - 6};
      max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * #{ask.$r_num_text});
    }

    & > pre {
      max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * #{ask.$r_num_text+2});
    }

    & > .l-rail {
      max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * #{ask.$r_num_text});
      
      &--m {
        max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * #{ask.$r_num_text*1.5});
      }

      &--full--m {
        grid-column: #{ask.$r_size_space + 2} / -1;
        max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * #{ask.$r_num_text*1.5});
      }

      &--xl {
        max-width: 100%;
      }

      &--full--xl {
        grid-column: #{ask.$r_size_space + 2} / -1;
        max-width: 100%;
      }
    }

    & > hr {
      width: 100%;
      grid-column: #{ask.$r_size_space + 2} / -1;
    }
    
    // style

    & > *:first-child {
      margin-top: 0;
    }

    h2 {
      // @include ask.t-size(ask.$t_h_size_m);
      font-size: var(--t-size_m);
      line-height: var(--t-line-height_m);
      font-weight: var(--t-font-weight-bold);
      // margin: calc(var(--t-size_m)*3*var(--t-line-height_m)) 0 0;
      margin: 3lh 0 0;
    }
  
    h3 {
      // @include ask.t-size(ask.$t_h_size_sm);
      font-size: var(--t-size_sm);
      line-height: var(--t-line-height_sm);
      font-weight: var(--t-font-weight-bold);
      // margin: calc(var(--t-size_sm)*2*var(--t-line-height_sm)) 0 0;
      margin: 2lh 0 0;
    }
  
    h4 {
      // @include ask.t-size(ask.$t_h_size_s);
      font-size: var(--t-size_s);
      line-height: var(--t-line-height_s);
      font-weight: var(--t-font-weight-bold);
      color: ask.$c_gray50;
      // margin: calc(var(--t-size_s)*1*var(--t-line-height_s)) 0 0;
      margin: 1lh 0 0;
    }
  
    p {
      margin: 0.5lh 0 0;
    }

    a {
      color: var(--c-link);
      @include ask.link-style;

      @include ask.mq-hover-mouse {
        &:hover {
          color: var(--c-hover);
          transition: color .2s ease;
        }
      }
    }
  
    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .c-media,
    .c-image-grid {
      margin: 1lh 0 0;

      &:has(+ .t-caption) {
        margin: 1lh 0 0;
      }
    }
  
    .t-caption {
      margin-block-start: 0.4lh;
    }

    .c-media,
    .c-image-grid,
    .t-caption,
    .l-rail {
      &:has(+ p) + p:not(.t-caption) {
        margin-top: 2em;
      }
    }
    
    ul {
      margin: 1em 0 0;
      padding: 0 0 0 1em;

      & ul {
        margin-top: 0;
      }
    }

    ol {
      margin: 1em 0 0;
      padding: 0 0 0 1em;
    }
  
    blockquote {
      position: relative;
      margin: 2em 0 0;
      padding: 0 0 0 0.75em;
      border-left: 0.25em solid var(--c-gray90);

      &:before {
        content: '“';
        font-size: 300%;
        line-height: 1;
        font-family: serif;
        color: var(--c-caption);
      }
  
      & > p {
        color: var(--c-caption);
        margin: -1.5em 0 0 0;
      }
    }
  
    code {
      font-family: var(--t-font-family-en);
      color: var(--c-code);
      background: var(--c-code-bg);
      padding: 0.1em 0.25em 0.15em 0.25em;
      font-size: 0.75em;
      border-radius: 0.1em;
    }
  
    pre {
      grid-column: 3 / -3;
      border-radius: 0.1em;
      margin: 1em 0 0;
      padding: 0.25em;
      line-height: 1.25;
  
      & > code {
        background: none;
      }
    }
  
    hr {
      // margin: calc(var(--t-size_s)*2*var(--t-line-height_s)) 0;
      margin: 2lh 0;
      border: none;
      border-top: 2px solid var(--c-border);
    }
  
    table {
  
    }
  }

  &__foot {
    grid-column: #{ask.$r_size_space + 2} / #{ask.$r_size_space - 6};
  }
}

// syntax highlight

/**
 * One Light theme for prism.js
 * Based on Atom's One Light theme: https://github.com/atom/atom/tree/master/packages/one-light-syntax
 */

/**
 * One Light colours (accurate as of commit eb064bf on 19 Feb 2021)
 * From colors.less
 * --mono-1: hsl(230, 8%, 24%);
 * --mono-2: hsl(230, 6%, 44%);
 * --mono-3: hsl(230, 4%, 64%)
 * --hue-1: hsl(198, 99%, 37%);
 * --hue-2: hsl(221, 87%, 60%);
 * --hue-3: hsl(301, 63%, 40%);
 * --hue-4: hsl(119, 34%, 47%);
 * --hue-5: hsl(5, 74%, 59%);
 * --hue-5-2: hsl(344, 84%, 43%);
 * --hue-6: hsl(35, 99%, 36%);
 * --hue-6-2: hsl(35, 99%, 40%);
 * --syntax-fg: hsl(230, 8%, 24%);
 * --syntax-bg: hsl(230, 1%, 98%);
 * --syntax-gutter: hsl(230, 1%, 62%);
 * --syntax-guide: hsla(230, 8%, 24%, 0.2);
 * --syntax-accent: hsl(230, 100%, 66%);
 * From syntax-variables.less
 * --syntax-selection-color: hsl(230, 1%, 90%);
 * --syntax-gutter-background-color-selected: hsl(230, 1%, 90%);
 * --syntax-cursor-line: hsla(230, 8%, 24%, 0.05);
 */

 code[class*="language-"],
 pre[class*="language-"] {
  //  background: hsl(230, 1%, 98%);
   color: hsl(230, 8%, 24%);
   font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
   direction: ltr;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
  //  line-height: 1.5;
   -moz-tab-size: 2;
   -o-tab-size: 2;
   tab-size: 2;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Selection */
 code[class*="language-"]::-moz-selection,
 code[class*="language-"] *::-moz-selection,
 pre[class*="language-"] *::-moz-selection {
   background: hsl(230, 1%, 90%);
   color: inherit;
 }
 
 code[class*="language-"]::selection,
 code[class*="language-"] *::selection,
 pre[class*="language-"] *::selection {
   background: hsl(230, 1%, 90%);
   color: inherit;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
  //  margin: 0.5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: 0.2em 0.3em;
   border-radius: 0.3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.cdata {
   color: hsl(230, 4%, 64%);
 }
 
 .token.doctype,
 .token.punctuation,
 .token.entity {
   color: hsl(230, 8%, 24%);
 }
 
 .token.attr-name,
 .token.class-name,
 .token.boolean,
 .token.constant,
 .token.number,
 .token.atrule {
   color: hsl(35, 99%, 36%);
 }
 
 .token.keyword {
   color: hsl(301, 63%, 40%);
 }
 
 .token.property,
 .token.tag,
 .token.symbol,
 .token.deleted,
 .token.important {
   color: hsl(5, 74%, 59%);
 }
 
 .token.selector,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted,
 .token.regex,
 .token.attr-value,
 .token.attr-value > .token.punctuation {
   color: hsl(119, 34%, 47%);
 }
 
 .token.variable,
 .token.operator,
 .token.function {
   color: hsl(221, 87%, 60%);
 }
 
 .token.url {
   color: hsl(198, 99%, 37%);
 }
 
 /* HTML overrides */
 .token.attr-value > .token.punctuation.attr-equals,
 .token.special-attr > .token.attr-value > .token.value.css {
   color: hsl(230, 8%, 24%);
 }
 
 /* CSS overrides */
//  .language-css .token.selector {
//    color: hsl(5, 74%, 59%);
//  }
 
//  .language-css .token.property {
//    color: hsl(230, 8%, 24%);
//  }
 
 .language-css .token.function,
 .language-css .token.url > .token.function {
   color: hsl(198, 99%, 37%);
 }
 
 .language-css .token.url > .token.string.url {
   color: hsl(119, 34%, 47%);
 }
 
 .language-css .token.important,
 .language-css .token.atrule .token.rule {
   color: hsl(301, 63%, 40%);
 }
 
 /* JS overrides */
 .language-javascript .token.operator {
   color: hsl(301, 63%, 40%);
 }
 
 .language-javascript .token.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
   color: hsl(344, 84%, 43%);
 }
 
 /* JSON overrides */
 .language-json .token.operator {
   color: hsl(230, 8%, 24%);
 }
 
 .language-json .token.null.keyword {
   color: hsl(35, 99%, 36%);
 }
 
 /* MD overrides */
 .language-markdown .token.url,
 .language-markdown .token.url > .token.operator,
 .language-markdown .token.url-reference.url > .token.string {
   color: hsl(230, 8%, 24%);
 }
 
 .language-markdown .token.url > .token.content {
   color: hsl(221, 87%, 60%);
 }
 
 .language-markdown .token.url > .token.url,
 .language-markdown .token.url-reference.url {
   color: hsl(198, 99%, 37%);
 }
 
 .language-markdown .token.blockquote.punctuation,
 .language-markdown .token.hr.punctuation {
   color: hsl(230, 4%, 64%);
   font-style: italic;
 }
 
 .language-markdown .token.code-snippet {
   color: hsl(119, 34%, 47%);
 }
 
 .language-markdown .token.bold .token.content {
   color: hsl(35, 99%, 36%);
 }
 
 .language-markdown .token.italic .token.content {
   color: hsl(301, 63%, 40%);
 }
 
 .language-markdown .token.strike .token.content,
 .language-markdown .token.strike .token.punctuation,
 .language-markdown .token.list.punctuation,
 .language-markdown .token.title.important > .token.punctuation {
   color: hsl(5, 74%, 59%);
 }
 
 /* General */
 .token.bold {
   font-weight: bold;
 }
 
 .token.comment,
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token.namespace {
   opacity: 0.8;
 }
 
 /* Plugin overrides */
 /* Selectors should have higher specificity than those in the plugins' default stylesheets */
 
 /* Show Invisibles plugin overrides */
 .token.token.tab:not(:empty):before,
 .token.token.cr:before,
 .token.token.lf:before,
 .token.token.space:before {
   color: hsla(230, 8%, 24%, 0.2);
 }
 
 /* Toolbar plugin overrides */
 /* Space out all buttons and move them away from the right edge of the code block */
 div.code-toolbar > .toolbar.toolbar > .toolbar-item {
   margin-right: 0.4em;
 }
 
 /* Styling the buttons */
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > button,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > a,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > span {
   background: hsl(230, 1%, 90%);
   color: hsl(230, 6%, 44%);
   padding: 0.1em 0.4em;
   border-radius: 0.3em;
 }
 
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:hover,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > button:focus,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:hover,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > a:focus,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:hover,
 div.code-toolbar > .toolbar.toolbar > .toolbar-item > span:focus {
   background: hsl(230, 1%, 78%); /* custom: darken(--syntax-bg, 20%) */
   color: hsl(230, 8%, 24%);
 }
 
 /* Line Highlight plugin overrides */
 /* The highlighted line itself */
 .line-highlight.line-highlight {
   background: hsla(230, 8%, 24%, 0.05);
 }
 
 /* Default line numbers in Line Highlight plugin */
 .line-highlight.line-highlight:before,
 .line-highlight.line-highlight[data-end]:after {
   background: hsl(230, 1%, 90%);
   color: hsl(230, 8%, 24%);
   padding: 0.1em 0.6em;
   border-radius: 0.3em;
   box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2); /* same as Toolbar plugin default */
 }
 
 /* Hovering over a linkable line number (in the gutter area) */
 /* Requires Line Numbers plugin as well */
 pre[id].linkable-line-numbers.linkable-line-numbers span.line-numbers-rows > span:hover:before {
   background-color: hsla(230, 8%, 24%, 0.05);
 }
 
 /* Line Numbers and Command Line plugins overrides */
 /* Line separating gutter from coding area */
 .line-numbers.line-numbers .line-numbers-rows,
 .command-line .command-line-prompt {
   border-right-color: hsla(230, 8%, 24%, 0.2);
 }
 
 /* Stuff in the gutter */
 .line-numbers .line-numbers-rows > span:before,
 .command-line .command-line-prompt > span:before {
   color: hsl(230, 1%, 62%);
 }
 
 /* Match Braces plugin overrides */
 /* Note: Outline colour is inherited from the braces */
 .rainbow-braces .token.token.punctuation.brace-level-1,
 .rainbow-braces .token.token.punctuation.brace-level-5,
 .rainbow-braces .token.token.punctuation.brace-level-9 {
   color: hsl(5, 74%, 59%);
 }
 
 .rainbow-braces .token.token.punctuation.brace-level-2,
 .rainbow-braces .token.token.punctuation.brace-level-6,
 .rainbow-braces .token.token.punctuation.brace-level-10 {
   color: hsl(119, 34%, 47%);
 }
 
 .rainbow-braces .token.token.punctuation.brace-level-3,
 .rainbow-braces .token.token.punctuation.brace-level-7,
 .rainbow-braces .token.token.punctuation.brace-level-11 {
   color: hsl(221, 87%, 60%);
 }
 
 .rainbow-braces .token.token.punctuation.brace-level-4,
 .rainbow-braces .token.token.punctuation.brace-level-8,
 .rainbow-braces .token.token.punctuation.brace-level-12 {
   color: hsl(301, 63%, 40%);
 }
 
 /* Diff Highlight plugin overrides */
 /* Taken from https://github.com/atom/github/blob/master/styles/variables.less */
 pre.diff-highlight > code .token.token.deleted:not(.prefix),
 pre > code.diff-highlight .token.token.deleted:not(.prefix) {
   background-color: hsla(353, 100%, 66%, 0.15);
 }
 
 pre.diff-highlight > code .token.token.deleted:not(.prefix)::-moz-selection,
 pre.diff-highlight > code .token.token.deleted:not(.prefix) *::-moz-selection,
 pre > code.diff-highlight .token.token.deleted:not(.prefix)::-moz-selection,
 pre > code.diff-highlight .token.token.deleted:not(.prefix) *::-moz-selection {
   background-color: hsla(353, 95%, 66%, 0.25);
 }
 
 pre.diff-highlight > code .token.token.deleted:not(.prefix)::selection,
 pre.diff-highlight > code .token.token.deleted:not(.prefix) *::selection,
 pre > code.diff-highlight .token.token.deleted:not(.prefix)::selection,
 pre > code.diff-highlight .token.token.deleted:not(.prefix) *::selection {
   background-color: hsla(353, 95%, 66%, 0.25);
 }
 
 pre.diff-highlight > code .token.token.inserted:not(.prefix),
 pre > code.diff-highlight .token.token.inserted:not(.prefix) {
   background-color: hsla(137, 100%, 55%, 0.15);
 }
 
 pre.diff-highlight > code .token.token.inserted:not(.prefix)::-moz-selection,
 pre.diff-highlight > code .token.token.inserted:not(.prefix) *::-moz-selection,
 pre > code.diff-highlight .token.token.inserted:not(.prefix)::-moz-selection,
 pre > code.diff-highlight .token.token.inserted:not(.prefix) *::-moz-selection {
   background-color: hsla(135, 73%, 55%, 0.25);
 }
 
 pre.diff-highlight > code .token.token.inserted:not(.prefix)::selection,
 pre.diff-highlight > code .token.token.inserted:not(.prefix) *::selection,
 pre > code.diff-highlight .token.token.inserted:not(.prefix)::selection,
 pre > code.diff-highlight .token.token.inserted:not(.prefix) *::selection {
   background-color: hsla(135, 73%, 55%, 0.25);
 }
 
 /* Previewers plugin overrides */
 /* Based on https://github.com/atom-community/atom-ide-datatip/blob/master/styles/atom-ide-datatips.less and https://github.com/atom/atom/blob/master/packages/one-light-ui */
 /* Border around popup */
 .prism-previewer.prism-previewer:before,
 .prism-previewer-gradient.prism-previewer-gradient div {
   border-color: hsl(0, 0%, 95%);
 }
 
 /* Angle and time should remain as circles and are hence not included */
 .prism-previewer-color.prism-previewer-color:before,
 .prism-previewer-gradient.prism-previewer-gradient div,
 .prism-previewer-easing.prism-previewer-easing:before {
   border-radius: 0.3em;
 }
 
 /* Triangles pointing to the code */
 .prism-previewer.prism-previewer:after {
   border-top-color: hsl(0, 0%, 95%);
 }
 
 .prism-previewer-flipped.prism-previewer-flipped.after {
   border-bottom-color: hsl(0, 0%, 95%);
 }
 
 /* Background colour within the popup */
 .prism-previewer-angle.prism-previewer-angle:before,
 .prism-previewer-time.prism-previewer-time:before,
 .prism-previewer-easing.prism-previewer-easing {
   background: hsl(0, 0%, 100%);
 }
 
 /* For angle, this is the positive area (eg. 90deg will display one quadrant in this colour) */
 /* For time, this is the alternate colour */
 .prism-previewer-angle.prism-previewer-angle circle,
 .prism-previewer-time.prism-previewer-time circle {
   stroke: hsl(230, 8%, 24%);
   stroke-opacity: 1;
 }
 
 /* Stroke colours of the handle, direction point, and vector itself */
 .prism-previewer-easing.prism-previewer-easing circle,
 .prism-previewer-easing.prism-previewer-easing path,
 .prism-previewer-easing.prism-previewer-easing line {
   stroke: hsl(230, 8%, 24%);
 }
 
 /* Fill colour of the handle */
 .prism-previewer-easing.prism-previewer-easing circle {
   fill: transparent;
 }
 

 @media (prefers-color-scheme: dark) {
  blockquote {
    border-left: 0.25em solid var(--c-gray20);
  }
  /**
  * xonokai theme for JavaScript, CSS and HTML
  * based on: https://github.com/MoOx/sass-prism-theme-base by Maxime Thirouin ~ MoOx --> http://moox.fr/ , which is Loosely based on Monokai textmate theme by http://www.monokai.nl/
  * license: MIT; http://moox.mit-license.org/
  */
  code[class*="language-"],
  pre[class*="language-"] {
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: normal;
    color: #76d9e6;
    text-shadow: none;
  }

  pre[class*="language-"],
  :not(pre) > code[class*="language-"] {
    // background: #2a2a2a;
  }

  pre[class*="language-"] {
    // padding: 15px;
    // border-radius: 4px;
    // border: 1px solid #e1e1e8;
    overflow: auto;
    position: relative;
  }

  pre[class*="language-"] code {
    white-space: pre;
    // display: block;
  }

  :not(pre) > code[class*="language-"] {
    padding: 0.15em 0.2em 0.05em;
    border-radius: .3em;
    border: 0.13em solid #7a6652;
    box-shadow: 1px 1px 0.3em -0.1em #000 inset;
  }

  .token.namespace {
    opacity: .7;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: #6f705e;
  }

  .token.operator,
  .token.boolean,
  .token.number {
    color: #a77afe;
  }

  .token.attr-name,
  .token.string {
    color: #e6d06c;
  }

  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #e6d06c;
  }

  .token.selector,
  .token.inserted {
    color: #a6e22d;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword,
  .token.important,
  .token.deleted {
    color: #ef3b7d;
  }

  .token.regex,
  .token.statement {
    color: #76d9e6;
  }

  .token.placeholder,
  .token.variable {
    color: #fff;
  }

  .token.important,
  .token.statement,
  .token.bold {
    font-weight: bold;
  }

  .token.punctuation {
    color: #bebec5;
  }

  .token.entity {
    cursor: help;
  }

  .token.italic {
    font-style: italic;
  }

  .language-css .token.property {
    color: hsl(5, 74%, 59%);
  }

  code.language-markup {
    color: #f9f9f9;
  }

  code.language-markup .token.tag {
    color: #ef3b7d;
  }

  code.language-markup .token.attr-name {
    color: #a6e22d;
  }

  code.language-markup .token.attr-value {
    color: #e6d06c;
  }

  code.language-markup .token.style,
  code.language-markup .token.script {
    color: #76d9e6;
  }

  code.language-markup .token.script .token.keyword {
    color: #76d9e6;
  }

  /* Line highlight plugin */
  .line-highlight.line-highlight {
    padding: 0;
    background: rgba(255, 255, 255, 0.08);
  }

  .line-highlight.line-highlight:before,
  .line-highlight.line-highlight[data-end]:after {
    padding: 0.2em 0.5em;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    height: 1em;
    // line-height: 1em;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
  }


}