// blog-post
@use "../ask_setting" as ask;

.c-blog {

  &__body > .l-rail > *:first-child {
    margin-top: 0;
  }

  &__head {
    width: calc(100vw - 2em);

    &__hero {
      margin: 3em 0 0;
    }
    
    &__info {
      margin: 0;
      padding: 0 ask.$r_size_space 0 0;

      .c-blog__head__hero:empty + & {
        margin: 0
      }
    }

    &__date {
      font-size: var(--t-size_xxxs);
      line-height: 1;
      margin-top: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: var(--t-size_l);
    line-height: var(--t-line-height_l);
    font-weight: 400;
  }

  &__body {
    margin: 3em 0 0;
    
    h2 {
      // @include ask.t-size(ask.$t_h_size_m);
      font-size: var(--t-size_m);
      line-height: var(--t-line-height_m);
      font-weight: 700;
      margin: calc(var(--t-size_m)*3*var(--t-line-height_m)) 0 1em;
    }
  
    h3 {
      // @include ask.t-size(ask.$t_h_size_sm);
      font-size: var(--t-size_sm);
      line-height: var(--t-line-height_sm);
      font-weight: 700;
      margin: calc(var(--t-size_sm)*2*var(--t-line-height_sm)) 0 1em;
    }
  
    h4 {
      // @include ask.t-size(ask.$t_h_size_s);
      font-size: var(--t-size_s);
      line-height: var(--t-line-height_s);
      font-weight: 700;
      color: ask.$c_gray50;
      margin: 1em 0 1em;
    }
  
    p {
      margin: 1em 0 0;
    }

    a {
      color: var(--c-link);

      @include ask.mq-hover-mouse {
        &:hover {
          color: var(--c-hover);
          transition: color .2s ease;
        }
      }
    }
  
    .t-caption {
      margin-top: 0.5em;
    }
  
    img {
      width: 100%;
    }
  
    ul {
      padding: 0 0 0 1em;
    }
  
    blockquote {
      position: relative;
      margin: 1em 0 0;
      padding: 0 0 0 0.75em;
      // border-left: 0.25em solid ask.$c_gray90;
      &:before {
        content: '';
        display: block;
        width: 0.25em;
        height: 100%;
        background: var(--c-code-bg);
        position: absolute;
        left: 0;
        border-radius: 0.125em;
      }
  
      p {
        color: var(--c-caption);
      }
    }
  
    code {
      font-family: var(--t-font-family-en);
      color: var(--c-code);
      background: var(--c-code-bg);
      padding: 0.1em 0.25em 0.15em 0.25em;
      font-size: 0.75em;
      border-radius: 0.1em;
    }
  
    pre {
      border-radius: 0.1em;
      padding: 0.25em;
      line-height: 1.5;
  
      & > code {
        background: none;
      }
    }
  
    hr {
      margin: 4em auto;
      border: none;
      border-top: 2px solid var(--c-border);
    }
  
    table {
  
    }
  }
}