// footer
@use "../ask_setting" as ask;

.c-footer {
  padding: 0 0 3em;
  @include ask.t-size(ask.$t_h_size_xxs);
  font-family: ask.$t_fontset_en;

  &__links {
    display: flex;
    gap: 1em;
  }

  &__copy {
    margin: 1em 0 0 0;
  }
}