// header
.c-header {
  margin: 0;
  padding: 3em 0 0;

  &__logo {
    line-height: 32px;
    margin: 0;

    .t-link {
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2em 0 0;
  }

  &__theme {
    position: absolute;
    top: 0;
    right: 0;
    margin: 3em;
  }
}