// header
@use "../ask_setting" as ask;
.c-header {
  margin: 0;
  padding: 3em 0 0;

  &__logo {
    line-height: 32px;
    margin: 0;
    font-family:'IBM Plex Mono', dnp-shuei-gothic-kin-std, sans-serif;

    .t-link {
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 2em 0 0;
    font-family:'IBM Plex Mono', dnp-shuei-gothic-kin-std, sans-serif;
  }

  &__theme {
    position: fixed;
    top: 0;
    right: 0;
    margin: 3em ask.$r_size_space;
  }
}