// post list
@use "../ask_setting" as ask;

.c-post-list {
  &__item {
    &:not(:first-child) {
      margin: 3em 0 0;
    }

    &__link,
    &__title,
    &__link {
      max-width: fit-content;
    }

    &__link {
      display: block;
      text-decoration: none;
      color: var(--c-text);

      // タッチデバイス
      @include ask.mq-hover-touch {
        &:active {
          color: var(--c-hover);
          transition: color .2s ease;
        }
      }

      // マウス
      @include ask.mq-hover-mouse {
        &:hover {
          color: var(--c-hover);
          transition: color .2s ease;
        }
      }
    }

    &__title {
      display: block;
      @include ask.link-style;

      // タッチデバイス
      @include ask.mq-hover-touch {
        &:active {
          text-decoration-style: solid;
        }
      }

      // マウス
      @include ask.mq-hover-mouse {
        &:hover {
          text-decoration-style: solid;
        }
      }
    }

    &__time {
      display: block;
      // @include ask.t-size(ask.$t_h_size_xxxs, 1);
      font-size: var(--t-size_xxxs);
      line-height: 1;
    }
  }
}