// post list
@use "../ask_setting" as ask;

.c-post-list {
  &__item {
    &:not(:first-child) {
      margin: 3em 0 0;
    }

    &__link,
    &__title,
    &__link {
      max-width: fit-content;
    }

    &__link {
      display: block;
      text-decoration: none;
    }

    &__title {
      display: block;
      color: ask.$c_text;
      text-decoration: underline;
    }

    &__time {
      display: block;
      color: ask.$c_gray50;
      @include ask.t-size(ask.$t_h_size_xxs)
    }
  }
}