// rail
@use "sass:math";
@use "../ask_setting" as ask;
$a: math.div(ask.$r_size_space, 2);

.l-rail {
  grid-column: #{ask.$r_size_space + 2} / #{ask.$r_size_space - 6};

  & > * {
    grid-column: 1 / -1;
  }

  &--m {
    max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * #{ask.$r_num_text} * 1.5);
  }

  &--full {
    grid-column: 4 / -1;

    &--m {
      grid-column: 4 / -1;
      max-width: calc(var(--t-base-size) * (1 + var(--t-letter-spacing)) * #{ask.$r_num_text*1.5});
    }
  }
}

.l-rail {
  margin: 0 auto 0 0;
}