// theme toggle button
@use "../ask_setting" as ask;

.c-theme-toggle {
  height: 32px;
  width: 32px;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: ask.$c_background;
  border: none;
}