// theme toggle button
@use "../ask_setting" as ask;

.c-theme-toggle {
  height: 1.5em;
  width: 1.5em;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgba(0,0,0,0);
  border: none;
  transition: background .2s ease;
  border-radius: 50%;
  padding: 0;
  
  & > svg {
    width: 100%;
    height: 100%;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .sun {
      fill: transparent;
    }

    &:hover .moon {
      fill: var(--c-hover);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .dark &:hover .moon {
      fill: transparent;
    }

    .dark &:hover .sun {
      fill: var(--c-hover);
    }
  }
}

.sun {
  fill: var(--c-text);
  transition: all .2s ease;
}
.moon {
  fill: transparent;
  transition: all .2s ease;
}

.dark .sun {
  fill: transparent;
}
.dark .moon {
  fill: var(--c-text);
}