// typo
.ask-wrapper {
  font-family: "TazuganeGothicStdN-Regular", sans-serif;
}

h1,h2,h3,h4 {
  font-family: "TazuganeGothicStdN-Medium", sans-serif;
}

.t-link {
  text-decoration-thickness: 1px;
  text-decoration-skip: 2px;
  text-underline-offset: 0.15em;
}