// typo
@use "../ask_setting" as ask;

.ask-wrapper {
  // font-family: "TazuganeGothicStdN-Regular", sans-serif;
  // font-family: 'IBM Plex Mono','IBM Plex Sans JP', sans-serif;
  // font-family: 'IBM Plex Mono','Noto Sans JP', sans-serif;
  // font-family: "dnp-shuei-gothic-kin-std",  sans-serif;
  // font-family: hiragino-kaku-gothic-pron, sans-serif;
  font-family:  "ryo-gothic-plusn", sans-serif;
  font-weight: 400;
  
}

h1,h2,h3,h4 {
  // font-family: "TazuganeGothicStdN-Medium", sans-serif;
  // font-family: 'IBM Plex Sans JP', sans-serif;
  // font-family: 'IBM Plex Mono','Noto Sans JP', sans-serif;
  // font-family: "m-plus-2p", sans-serif;
  // font-family: 'IBM Plex Mono', hiragino-kaku-gothic-pron, sans-serif;
  font-family: "ryo-gothic-plusn", sans-serif;
  font-weight: 700;
}

.t-link {
  text-decoration-thickness: 1px;
  text-decoration-skip: 2px;
  text-underline-offset: 0.15em;
}

.t-time {
  color: ask.$c_gray50;
  font-family:'IBM Plex Mono', dnp-shuei-gothic-kin-std, sans-serif;
}