// Project typeface
@use "../ask_setting" as ask;

.ask-wrapper {
  // Project Fontset
  --t-font-family-ja: #{ask.$t_fontset_ja};
  --t-font-family-en: #{ask.$t_fontset_en};
  font-family: var(--t-font-family-ja);
}

h1,h2,h3,h4 {
  font-family: var(--t-font-family-ja);
  font-weight: 700;
}

.t-link {
  color: ask.$c_text;
  text-decoration-thickness: 1px;
  text-decoration-skip: 2px;
  text-underline-offset: 0.15em;

  &:visited {
    color: var(--c-text);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--c-hover);
      text-decoration-thickness: 1px;
    }
  }
}

.t-caption {
  color: var(--c-caption);
}

.t-time {
  color: var(--c-caption);
  font-family: var(--t-font-family-en);
}

.t-link {
  color: var(--c-text);
}