// common
// css variables
@use "sass:math";
@use "ask_setting" as ask;


// root setting
//----------------------------------------------
.ask-wrapper {
  // Font Size
  --t-base-size: #{ask.$t_size_base_px}; // 本文サイズ
  --t-base-line-height: #{ask.$t_lh_base}; // ベース行間
  --t-letter-spacing: #{ask.$t_spacing};

  // 以下xxxs〜xxxxlまでのデフォルトサイズとline-height
  --t-size_xxxs:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 3)}; // 12.8
  --t-line-height_xxxs:  #{ask.get-line-height(ask.$t_h_size_xxxs, ask.$t_size_base)};
  --t-size_xxs:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 2)}; // 12.8
  --t-line-height_xxs:   #{ask.get-line-height(ask.$t_h_size_xxs, ask.$t_size_base)};
  --t-size_xs:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 1)}; // 14.22222
  --t-line-height_xs:    #{ask.get-line-height(ask.$t_h_size_xs, ask.$t_size_base)};
  --t-size_s:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 0)}; // 16
  --t-line-height_s:     #{ask.get-line-height(ask.$t_h_size_s, ask.$t_size_base)};
  --t-size_sm:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -1)}; // 18.28571
  --t-line-height_sm:    #{ask.get-line-height(ask.$t_h_size_sm, ask.$t_size_base)};
  --t-size_m:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -2)}; // 21.33333
  --t-line-height_m:     #{ask.get-line-height(ask.$t_h_size_m, ask.$t_size_base)};
  --t-size_l:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -3)}; // 25.6
  --t-line-height_l:     #{ask.get-line-height(ask.$t_h_size_l, ask.$t_size_base)};
  --t-size_xl:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -4)}; // 32
  --t-line-height_xl:    #{ask.get-line-height(ask.$t_h_size_xl, ask.$t_size_base)};
  --t-size_xxl:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -5)}; // 42.66666
  --t-line-height_xxl:   #{ask.get-line-height(ask.$t_h_size_xxl, ask.$t_size_base)};
  --t-size_xxxl:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -6)}; // 64
  --t-line-height_xxxl:  #{ask.get-line-height(ask.$t_h_size_xxxl, ask.$t_size_base)};
  --t-size_xxxxl:        #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -7)}; // 128
  --t-line-height_xxxxl: #{ask.get-line-height(ask.$t_h_size_xxxxl, ask.$t_size_base)};

  // Font family
  --t-font-family-ja: #{ask.$t_list_ja_sans};

  // Color Set
  // common
  --c-gray90: #{ask.$c_gray90};

  // Light
  --c-bg:      #{ask.$c_background};
  --c-text:    #{ask.$c_text};
  --c-caption: #{ask.$c_gray50};
  --c-code:    #{ask.$c_code};
  --c-code-bg: #{ask.$c_gray90};
  --c-border:  #{ask.$c_gray90};
  --c-link:    #{ask.$c_link};
  --c-hover:   #{ask.$c_link_hover};
  --c-visited: #{ask.$c_link_visited};
  --c-active:  #{ask.$c_link_active};
  --c-focus:   #{ask.$c_link_focus};

  // Dark Theme用値の上書き
  .dark & {
    // Dark
    --c-bg:      #{ask.$c_black};
    --c-text:    #{ask.$c_white};
    --c-caption: #{ask.$c_gray50};
    // --c-code:    #{ask.$c_code};
    // --c-code-bg: #{ask.$c_gray90};
    // --c-border:  #{ask.$c_gray90};
    --c-link:    #{ask.$c_link_dark};
    --c-hover:   #{ask.$c_link_darkhover};
    --c-visited: #{ask.$c_link_darkvisited};
    --c-active:  #{ask.$c_link_darkactive};
    --c-focus:   #{ask.$c_link_darkfocus};
  }

  // ブレークポイント毎に再設定
  @media screen and (max-width: map-get(ask.$bp, xxxs) - 0.0625) {
    --t-base-size: #{ask.$t_size_base_px*ask.$t_scale_small};
    // 以下xxxs〜xxxxlまでのデフォルトサイズとline-height
    --t-size_xxxs: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 3)*ask.$t_scale_small}; 
    --t-line-height_xxxs: #{ask.get-line-height(ask.$t_h_size_xxxs*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_xxs: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 2)*ask.$t_scale_small}; 
    --t-line-height_xxs: #{ask.get-line-height(ask.$t_h_size_xxs*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_xs: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 1)*ask.$t_scale_small}; 
    --t-line-height_xs: #{ask.get-line-height(ask.$t_h_size_xs*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_s: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 0)*ask.$t_scale_small}; 
    --t-line-height_s: #{ask.get-line-height(ask.$t_h_size_s*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_sm: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -1)*ask.$t_scale_small}; 
    --t-line-height_sm: #{ask.get-line-height(ask.$t_h_size_sm*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_m: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -2)*ask.$t_scale_small}; 
    --t-line-height_m: #{ask.get-line-height(ask.$t_h_size_m*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_l: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -3)*ask.$t_scale_small}; 
    --t-line-height_l: #{ask.get-line-height(ask.$t_h_size_l*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_xl: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -4)*ask.$t_scale_small}; 
    --t-line-height_xl: #{ask.get-line-height(ask.$t_h_size_xl*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_xxl: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -5)*ask.$t_scale_small}; 
    --t-line-height_xxl: #{ask.get-line-height(ask.$t_h_size_xxl*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_xxxl: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -6)*ask.$t_scale_small}; 
    --t-line-height_xxxl: #{ask.get-line-height(ask.$t_h_size_xxxl*ask.$t_scale_small, ask.$t_size_base)};
    --t-size_xxxxl: #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -7)*ask.$t_scale_small}; 
    --t-line-height_xxxxl: #{ask.get-line-height(ask.$t_h_size_xxxxl*ask.$t_scale_small, ask.$t_size_base)};
  }

  @include ask.mq-xs {
    --t-base-size: #{ask.$t_size_base_px*ask.$t_scale_media};
    // 以下xxxs〜xxxxlまでのデフォルトサイズとline-height
    --t-size_xxxs:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 3)*ask.$t_scale_media};
    --t-line-height_xxxs:  #{ask.get-line-height(ask.$t_h_size_xxxs*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_xxs:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 2)*ask.$t_scale_media};
    --t-line-height_xxs:   #{ask.get-line-height(ask.$t_h_size_xxs*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_xs:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 1)*ask.$t_scale_media};
    --t-line-height_xs:    #{ask.get-line-height(ask.$t_h_size_xs*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_s:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 0)*ask.$t_scale_media};
    --t-line-height_s:     #{ask.get-line-height(ask.$t_h_size_s*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_sm:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -1)*ask.$t_scale_media};
    --t-line-height_sm:    #{ask.get-line-height(ask.$t_h_size_sm*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_m:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -2)*ask.$t_scale_media};
    --t-line-height_m:     #{ask.get-line-height(ask.$t_h_size_m*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_l:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -3)*ask.$t_scale_media};
    --t-line-height_l:     #{ask.get-line-height(ask.$t_h_size_l*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_xl:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -4)*ask.$t_scale_media};
    --t-line-height_xl:    #{ask.get-line-height(ask.$t_h_size_xl*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_xxl:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -5)*ask.$t_scale_media};
    --t-line-height_xxl:   #{ask.get-line-height(ask.$t_h_size_xxl*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_xxxl:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -6)*ask.$t_scale_media};
    --t-line-height_xxxl:  #{ask.get-line-height(ask.$t_h_size_xxxl*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
    --t-size_xxxxl:        #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -7)*ask.$t_scale_media};
    --t-line-height_xxxxl: #{ask.get-line-height(ask.$t_h_size_xxxxl*ask.$t_scale_media, ask.$t_size_base*ask.$t_scale_media)};
  }

  @include ask.mq-xl {
    --t-base-size: #{ask.$t_size_base_px*math.pow(ask.$t_scale_media, 2)};
    // 以下xxxs〜xxxxlまでのデフォルトサイズとline-height
    --t-size_xxxs:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 3)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_xxxs:  #{ask.get-line-height(ask.$t_h_size_xxxs*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_xxs:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 2)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_xxs:   #{ask.get-line-height(ask.$t_h_size_xxs*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_xs:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 1)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_xs:    #{ask.get-line-height(ask.$t_h_size_xs*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_s:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 0)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_s:     #{ask.get-line-height(ask.$t_h_size_s*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_sm:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -1)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_sm:    #{ask.get-line-height(ask.$t_h_size_sm*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_m:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -2)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_m:     #{ask.get-line-height(ask.$t_h_size_m*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_l:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -3)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_l:     #{ask.get-line-height(ask.$t_h_size_l*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_xl:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -4)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_xl:    #{ask.get-line-height(ask.$t_h_size_xl*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_xxl:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -5)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_xxl:   #{ask.get-line-height(ask.$t_h_size_xxl*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_xxxl:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -6)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_xxxl:  #{ask.get-line-height(ask.$t_h_size_xxxl*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
    --t-size_xxxxl:        #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -7)*math.pow(ask.$t_scale_media, 2)};
    --t-line-height_xxxxl: #{ask.get-line-height(ask.$t_h_size_xxxxl*math.pow(ask.$t_scale_media, 2), ask.$t_size_base*math.pow(ask.$t_scale_media, 2))};
  }

  @include ask.mq-xxxl {
    --t-base-size: #{ask.$t_size_base_px*math.pow(ask.$t_scale_media, 3)};
    // 以下xxxs〜xxxxlまでのデフォルトサイズとline-height
    --t-size_xxxs:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 3)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_xxxs:  #{ask.get-line-height(ask.$t_h_size_xxxs*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_xxs:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 2)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_xxs:   #{ask.get-line-height(ask.$t_h_size_xxs*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_xs:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 1)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_xs:    #{ask.get-line-height(ask.$t_h_size_xs*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_s:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, 0)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_s:     #{ask.get-line-height(ask.$t_h_size_s*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_sm:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -1)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_sm:    #{ask.get-line-height(ask.$t_h_size_sm*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_m:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -2)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_m:     #{ask.get-line-height(ask.$t_h_size_m*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_l:            #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -3)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_l:     #{ask.get-line-height(ask.$t_h_size_l*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_xl:           #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -4)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_xl:    #{ask.get-line-height(ask.$t_h_size_xl*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_xxl:          #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -5)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_xxl:   #{ask.get-line-height(ask.$t_h_size_xxl*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_xxxl:         #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -6)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_xxxl:  #{ask.get-line-height(ask.$t_h_size_xxxl*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
    --t-size_xxxxl:        #{ask.harmonic-type-scale(ask.$t_size_base_px, ask.$t_scale_lv_harmony, -7)*math.pow(ask.$t_scale_media, 3)};
    --t-line-height_xxxxl: #{ask.get-line-height(ask.$t_h_size_xxxxl*math.pow(ask.$t_scale_media, 3), ask.$t_size_base*math.pow(ask.$t_scale_media, 3))};
  }
}