@use "../../ask" as ask;
// article ---> root of this project
.ask-wrapper {
  -webkit-text-size-adjust: 100%;
  font-family: ask.$t_list_system_ja;
  font-feature-settings: "palt" 0;
  font-kerning: none;
  line-break: normal;
  hanging-punctuation: allow-end;
  color: ask.$c_text;
  background: ask.$c_background;
}

// default link color
.t-link {
  color: ask.$c_link;
  text-decoration: underline;

  &:focus {
    color: ask.$c_link_hover;
    text-decoration: underline;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:visited {
    color: ask.$c_link_visited;
  }

  // マウス
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: ask.$c_link_hover;
      text-decoration: underline;
    }
  }
}