---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="c-404">
    <p class="c-404__text">
      <span class="c-404__code">404</span>
      <span class="c-404__error">Not Found</span>
    </p>
  </div>
</BaseLayout>