---
import Layout from '../layouts/BlogPost.astro';
const pageTitle = "About";
---

<Layout
	title={pageTitle}
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2023/7/29')}
>
	<h1>nyasusho</h1>
	<p>報道機関で働くデザイナー。<br>デザインで食べて、オートバイで遊ぶ。</p>
	<p>Webデザイン、グラフィックデザイン、データビジュアライズ、UIデザイン、HTML、CSS設計、SASSなど。</p>
</Layout>
