---
import { Image } from 'astro:assets';
import aboutImg from "../image/about.jpg";
import Layout from '../layouts/BlogPost.astro';
const pageTitle = "nyasusho（@nya2828）";
---

<Layout title={pageTitle} description="nya2828について" pubDate={new Date('2023/11/05')}>
	<div class="l-rail l-rail--full--m">
		<div class="c-media u-ar-16x9">
			<!-- <div class="c-image">
				<img src="image/about.jpg" alt="写真：:nyasusho">
			</div> -->
			<div class="c-image">
				<!-- // vw375まで320pxの画像を出力 -->
				<Image 
					src={aboutImg}
					widths={[
						320,
						375,
						580,
						980,
						1040,
						1162
					]}
					sizes={`
						(max-width: 375px) 320px,
						(max-width: 580px) 375px,
						(max-width: 768px) 580px,
						(max-width: 960px) 960px,
						(max-width: 1280px) 1040px,
						1162px`}
					decoding="sync"
					loading="eager"
					alt="写真：nyasusho"
				/>
			</div>
		</div>
	</div>
	<p>報道機関で働くデザイナー。デザインで食べて、オートバイで遊ぶ。</p>
	<p>このサイトに書かれている内容は本業とは一切関係のない、趣味やプライベートワークなどについて掲載しています。</p>
</Layout>
</div>