@use '../../ask' as ask;
// legend
.c-legend {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0;
  line-height: 2;
  @include ask.t-size(ask.$t_h_size_xs);

  &__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-right: 0.75em;
  }

  &__icon {
    display: block;
    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    background: ask.$c_text;
    margin-right: 0.25em;

    &--circle {
      border-radius: 100%;
      transform: scale(1.1);
    }

    &--square {
      border-radius: 0.1em;
    }

    &--rect {
      width: 2em;
      border-radius: 0.1em;
    }

    &--line {
      width: 1.5em;
      height: 4px;
    }
  }
}
