@use '../../ask' as ask;
// modal
// require ask/v1.0.0/module/_components/modal.js

.c-modal {
  $self: &;

  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 1em;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translate(-50%, -50%);

  // 背景
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(ask.$c_white, 0.8);
    transition: all 0.3s;
  }

  // 本体
  &__content {
    position: static;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    max-height: 100%;
    margin: auto;
    padding: 2em 0;
    border: 1px solid ask.$c_gray85;
    background: ask.$c_white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  // 閉じるボタン
  &__close {
    display: block;
    width: 100%;
  }

  // 表示状態
  &--show {
    visibility: visible;

    #{$self}__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  // 表示エフェクト
  &#{$self}--effect1 #{$self}__content {
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s;
  }

  &#{$self}--show#{$self}--effect1 #{$self}__content {
    transform: scale(1);
    opacity: 1;
  }
}
