@use '../../ask' as ask;
// table
.c-table {
  width: 100%;
  margin: 0 auto;
  &__table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  
  &__thead__th,
  &__tbody__th,
  &__tbody__td {
    padding: 1em;
    border-right: 1px solid ask.$c_gray80;

    &:last-child {
      border-right: none;
    }
  }
  &__thead__th {
    border-top: 1px solid ask.$c_gray80;
    border-bottom: 1px solid ask.$c_gray80;  
  }
  &__tbody__th,
  &__tbody__td {
    border-bottom: 1px solid ask.$c_gray80;
  }
}
