--- 
---
<details class="c-dropdown">
  <summary>Category</summary>
  <ul class="c-dropdown__list">
    <li class="c-dropdown__list__item">Design</li>
    <li class="c-dropdown__list__item">Dev</li>
    <li class="c-dropdown__list__item">Moto</li>
    <li class="c-dropdown__list__item">Gadget</li>
    <li class="c-dropdown__list__item">Other</li>
  </ul>
</details>