---
const today = new Date();
import Social from "./Social.astro";
---

<footer>
	<p>
		<Social platform="twitter" username="nya2828" />
		<Social platform="github" username="nyasusho" />
	</p>
	<p>&copy; {today.getFullYear()} nyasusho. All rights reserved.</p>
</footer>
