---
const today = new Date();
import Social from "./Social.astro";
---

<footer class="c-footer l-g-container">
	<p class="c-footer__copy">
		&copy; {today.getFullYear()} <Social platform="twitter" username="nya2828">nya{"{susho}"}</Social></p>
</footer>
