---
const today = new Date();
import Social from "./Social.astro";
---

<footer class="c-footer l-g-container">
	<div class="c-footer__links">
		<a class="t-link" target="_blank" href="https://www.twitter.com/@nya2828">X(former Twitter)</a>
		<a class="t-link" target="_blank" href="https://www.threads.net/@nya2828">Threads</a>
		<a class="t-link" href="/rss.xml">RSS</a>
	</div>
	<p class="c-footer__copy">
		&copy; {today.getFullYear()} nya{"{susho}"}</p>
</footer>
