---
import HeaderLink from './HeaderLink.astro';
import Dropdown from './Dropdown.astro';
import { SITE_TITLE } from '../consts';
---

<header class="c-header">
	<h2 class="c-header__logo">
		<HeaderLink href="/">
			{SITE_TITLE}
		</HeaderLink>
	</h2>
	<nav class="c-header__nav">
		<HeaderLink href="/about">About</HeaderLink>
		<!-- <Dropdown></Dropdown> -->
	</nav>
</header>
