---
import HeaderLink from './HeaderLink.astro';
import Dropdown from './Dropdown.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2>
		<HeaderLink href="/">
			{SITE_TITLE}
		</HeaderLink>
	</h2>
	<nav>
		<HeaderLink href="/about">About</HeaderLink>
		<!-- <Dropdown></Dropdown> -->
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
