---
import HeaderLink from './HeaderLink.astro';
import Logo from './Logo.astro';
---

<header class="c-header" transition:persist>
	<h1 class="c-header__logo">
		<Logo></Logo>
	</h1>
	<nav class="c-header__nav">
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
