---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
 
type Props = {
  src: string | ImageMetadata;
  // src will be ImageMetadata type in case you use an image from your content and string in case you use some external image
  alt: string;
};
 
const { src, alt } = Astro.props;
---
<figure class="c-media">
  <div class="c-image">
    {
      typeof src === 'string' ? (
        <img src={src} alt={alt} />
      ) : (
        <Image {src} {alt}/>
      )
    }
  </div>
</figure>