---
import { Image } from "astro:assets";
export interface Props {
  src: string;
	alt: string;
  decoding: string;
  loading: string;
}
const { src, alt, decoding = "async", loading = "lazy" } = Astro.props;

---
<p>
<Image
  src={ src }
  widths={[
    320,
    375,
    580,
    980,
    1040,
    1920
  ]}
  sizes={`
    (max-width: 376px) 320px,
    (max-width: 581px) 375px,
    (max-width: 769px) 580px,
    (max-width: 961px) 960px,
    (max-width: 1281px) 1040px,
    1920px`}
  alt={ alt }
  decoding={decoding}
  loading={loading}
/>
</p>