@use '../../ask' as ask;
@use "sass:math";
// rails
.l-rail {
  width: 100%;
  margin: 0 auto;
  // padding-right: math.div(ask.$r_size_space*1em, 2);
  // padding-left: math.div(ask.$r_size_space*1em, 2);
  max-width: calc(#{ask.$r_size_width} + #{ask.$r_size_space*1em} * 2);
  grid-column: #{ask.$r_size_space + 1} / -#{ask.$r_size_space + 1};

  // 実験的文字組メソッドプロトタイプ
  // ----------------------------------------------
  // display: grid;
  // grid-template-columns: repeat(auto-fill, #{1em+ask.$t_spacing});
  // justify-content: center;

  // &>* {
  //   grid-column: 1 / -1;
  // }
  // ----------------------------------------------

  @include ask.mq-xxxs {
    // padding-right: ask.$r_size_space*1em;
    // padding-left: ask.$r_size_space*1em;
  }

  &--m {
    max-width: (ask.$r_size_width*1.5 + ask.$r_size_space*2);
  }

  &--l {
    max-width: (ask.$r_size_width*2 + ask.$r_size_space*2);
  }

  &--xl {
    max-width: 100%;
  }

  &--full {
    // padding-right: 0;
    // padding-left: 0;
    grid-column: 1 / -1;
    max-width: ask.$r_size_width;

    &--m {
      // padding-right: 0;
      // padding-left: 0;
      grid-column: 1 / -1;
      max-width: ask.$r_size_width*1.5;
    }

    &--l {
      // padding-right: 0;
      // padding-left: 0;
     grid-column: 1 / -1;
      max-width: ask.$r_size_width*2;
    }

    &--xl {
      // padding-right: 0;
      // padding-left: 0;
      grid-column: 1 / -1;
      max-width: 100%;
    }
  }
}