@use '../../ask' as ask;
@use "sass:math";
// scrolly section
.l-scrolly {
  position: relative;
  margin: 2em auto;

  $this: &;

  // スクロールイベント取得 elements
  div[data-display-scroll-nav="visible"] {
    position: absolute;
    bottom: 0;
  }
  
  &--left-sticky,
  &--right-sticky {
    display: flex;
    flex-flow: column nowrap;
  }

  // 固定エリア
  &__fixed {
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    // チャートエリアを縦横比指定しても画面外にはみださいないように、0〜1frの間で調整
    grid-template-rows: auto minmax(0, 1fr) auto;
    width: 100%;
    height: 100vh;
    padding: ask.$r_size_space math.div(ask.$r_size_space, 2);
    z-index: 0;
    background: ask.$c_gray90;

    &__head {
      flex: 0 0 auto;
    }

    &__title {
      margin: 0;
    }

    &__media {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      // display: grid;
      // grid-template-rows: auto 1fr auto;
      width: 100%;
      flex: 1 1 auto;
    }

    &__unit,
    &__caption {
      align-self: stretch;
    }

    &__chart {
      // チャートの高さは親要素基準
      flex: 1 1 100%;

      // アスペクト比を指定することで高さが定義されるための処理。
      // アス比を指定しないと高さが0になる。
      &--aspect-ratio {
        flex: 0 1 auto;

        // Safariのみに対するHack
        ::-webkit-full-page-media,
        :future, :root & {
          min-width: 100%;
          max-height: calc(100vh - 12em);
        }
      }
    }

    &__foot {
      flex: 0 0 auto;
    }
  }

  &__arrow {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__down {
      display: block;
      width: 1px;
      height: 1.5em;
      background: ask.$c_text;
    }

    &__text {
      @include ask.t-size(ask.$t_h_size_xxs);
      margin: 0.5em 0 0 0;
    }
  }

  // 本文エリア
  &__col {
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    z-index: 1;

    &__section {
      position: relative;
      margin: 0 auto;
      padding: 50vh 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 100vh;
      }
    }

    &__wrap {
      padding: ask.$r_size_space 0;
      background: ask.$c_background;
    }

    &__title {
      margin-top: 0;
    }
  }

  // 位置取得ビーコン
  &__beacon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @include ask.mq-xs {
    &__fixed {
      padding: ask.$r_size_space;
    }
  }
  
  @include ask.mq-m {
    &__col {
      flex: 0 0 50%;
      // display: block;
      padding: 0;
    }

    // 左固定
    &--left-sticky {
      flex-flow: row nowrap;
    }

    // 右固定
    &--right-sticky {
      flex-flow: row-reverse nowrap;
    }
    
    //左右レイアウト共通
    &--left-sticky,
    &--right-sticky {
      align-items: flex-start;
      // チャートの横幅
      $r_size_chart: ask.$r_size_width * 1.5;

      // 固定部分
      #{$this}__fixed {
        padding: ask.$r_size_space;
      }
      
      #{$this}__arrow {
        display: none;
      }

      #{$this}__col {
        &__section {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          min-height: 100vh;
          padding: 0;

          &:not(:first-child) {
            margin-top: 10vh;
          }
        }
      }
    }
  }

  @include ask.mq-xl {
    &__fixed {
      // padding: 2em unquote("max(2em, 7.77777vw)");

      &__media {
        max-width: 100%;
      }
    }
  }
}