---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BackLink from '../components/BackLink.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout>
	<article class="l-rail l-rail--full l-rail--fit-left">
		<div class="l-rail l-rail--overflow--m">
			{heroImage && <img width="100%" class="c-image" src={heroImage} alt="" />}
		</div>
		<h1 class="title">{title}</h1>
		<FormattedDate date={pubDate} />
		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}
		<hr />
		<slot />
	</article>
	<BackLink></BackLink>
</BaseLayout>
